.ads button {
    width: 100%;
}

div.row {
    padding-bottom: 50px;
}

footer {
    position: fixed;
    top: 100%;
    margin-top: -50px;
    background-color: white;
    padding-top: 20px;
    text-align: center;
}

