.ads button {
    width: 100%;
}

div.row {
    padding-bottom: 50px;
}

#toc ul {
    list-style-type: none;
    padding-top: 20px;
}

#toc li {
    padding-bottom: 4px;
}

#toc .toc-h2 {
    padding-left: 20px;
}

#toc .toc-h3 {
    padding-left: 40px;
}

footer {
    position: fixed;
    top: 100%;
    margin-top: -50px;
    background-color: white;
    padding-top: 20px;
    text-align: center;
}

